.Style{
border-bottom: 2px;
box-sizing:border-box;
border: 1px solid #eee;
padding:20px;
width:400px;
margin: 20px auto
}
.AddActivity{
    width: 200px;
    padding: 0 20px;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px
}
.submiti{
    /* margin-left: 275px; */
    border-radius: 5px;
    height: 35px;
    align-self: center
}
.Activities{
    /* text-align: center; */
    align-items: left;

}

.InputActivityDiv{
    text-align: left;
    /* margin:20px auto; */
    width:50%;
    height:300px;
    /* box-shadow: 0 2px 3px #ccc; */
    border:1px solid #eee ;
    /* padding: 20px; */
    box-sizing: border-box;
}

.InputActivity{
    height:40px;
    width:80%;
    margin:10px auto;
    border:1px solid pink;
    padding:2px;
}
.inputi{
  align-content: center;
  align-items: center;
  width: 200px;
  padding: 0 20px;
  font-size: 18px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  /* margin-left:200px */
}
.inp{
    /* align-content: center;
    align-items: center; */
    width: 200px;
    padding: 0 20px;
    font-size: 18px;
    height: 25px;
    border-radius: 3px;
    box-sizing: border-box;
    /* margin-right: 300px; */
    /* margin-bottom: 20px; */
    margin-left:10px
  }
.InputTime{
   
}

.Button{
    height:30px;
    width: 100px;
    color: #eee;
    align-self: center;
    align-items: center;
    align-content: center;
    margin: 5px;
}

.container{
    height: 100%;

    align-content: center;
    }

.ShowButton{
    height:35px;
    width: 200px;
    color: #eee;
    background-color: pink;
    margin: 10px;
}

.outputActivityList{
    padding:10px;
    height:60px;
    width:600px;
    border:.5px solid;
    margin-bottom: 5px;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
    .table-wrapper-scroll-y {
    display: block;
}
    td{
        text-align: center;
    }
    tr{
        text-align: center;
    }